<%= form_for @week do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :home_team_id %><br />
    <%= f.text_field :home_team_id %>
  </p>
  <p>
    <%= f.label :away_team_id %><br />
    <%= f.text_field :away_team_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
