<% title "Games" %>

<table>
  <tr>
    <th>Winner</th>
    <th>Score</th>
    <th>Home Team</th>
    <th>Away Team</th>
  </tr>
  <% @games.each do |game|%>
    <tr>
      <td><%= game.winner.try(:name) %></td>
      <td><%= game.home_team_score || 0 %> - <%= game.away_team_score || 0 %></td>
      <td><%= game.home_team.try(:name) %></td>
      <td><%= game.away_team.try(:name) %></td>
      <td><%= link_to "Show", game %></td>
      <td><%= link_to "Edit", edit_game_path(game) %></td>
      <td><%= link_to "Destroy", game, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Game", new_game_path %></p>
